{{ extends 'global/Page.html' }}
{{ block title }}
Result of Card Game Round
{{ if game_number == 1 }}
    {{ player.round_number }}
{{ else }}
    {{ Round_Number }}
{{ endif }}

{{ endblock }}


{{ block content }}


<style>
   .instructions {
	width:100%;
	height:100%;
       font-min-size: large;
	background:rgba(255,255,225,0.05);
    text-align: justify;
	margin:20px auto;
    padding: 20px 20px 10px 20px;

    position:relative;
    -webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;
            box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;

    -moz-border-radius: 8px/8px;
         border-radius: 8px/8px;
   .instructions:before, .instructions:after
{
	content:"";
    position:absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    -webkit-box-shadow:2px 4px 16px rgba(0,0,0,0.2);
       -moz-box-shadow:2px 4px 16px rgba(0,0,0,0.2);
            box-shadow:2px 4px 16px rgba(0,0,0,0.2);

    -moz-border-radius: 8px/8px;
         border-radius: 8px/8px;
}

    p{
        text-align: justify
    }
    table, th, td {
        border: 1px solid black;
    }

    Img {
        Width: 300px;
        Float: left;
        Margin-left: 80px
    }
</style>


<div class="instructions">
 {{ if player.win_turn == True }}
    <P>
        You won this round of the game

        because the card you played was
        {{ your_chosen_card }}
        and the card your coparticipant played was {{ coparticipant_chosen_card }}

    </P>
    {{ elif player.win_turn == False }}
    <p>
         <P>
        You lost  this round of the game because the card you played was
        {{ your_chosen_card }}
        and the card your coparticipant played was {{ coparticipant_chosen_card }}

    </P>
    </p>
</div>
{{ endif }}
{{ next_button }}

{{ endblock }}
