{{ extends 'global/Page.html' }}
{{ block title }}

 Round
{{ if game_number == 1 }}
    {{ player.round_number }}
{{ else }}
    {{ Round_Number }}
{{ endif }}

{{ endblock }}


{{ block content }}

<style>
    #cards_container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
    .btn-card {
        width: 100px;
        height: 150px;
        font-size: 30px;
    }
    #on-selection {
        display: none;
    }
    #on-selection p:first-child {
        font-size: 20px;
    }
    #card_selected {
        font-weight: bold;
    }

    my-table {
        border: 1px solid black;
        align-items: center; vertical-align: middle; horiz-align: center;
        width:100%;
    }
</style>
    {{ if group.unfair == True }}
<p>
    You are in the {{ participant.group }} group, so you have
      {{ if player.unfair == True}}
        2 cards in each round. You are matched with a
        person from {{ others.group }} group who has 3 cards.
      {{ else }}
        3 cards in each round.
        You are matched with a person from {{ others.group }} group who has 2 cards.
      {{ endif }}

    {{ elif group.unfair == False }}

         You are in the {{ participant.group }} group, so you and your coparticipants have 3 cards in each round.
        You are matched with a person from {{ participant.group }} group.
    {{ endif }}
    Your task is to choose a card to play. The holder of the higher card is the winner of the round.
    The person who wins at least 2 of 3 rounds is the overall winner of the game.
</p>

<div id="cards_container">
    {{if participant.unfair1 == False}}
        {{ for card in cards_f }}
       <div>
            <button type="button" value="{{ card }}" class="btn-card">
                {{ card }}
            </button>
        </div>
        {{ endfor }}

        {{ if len_f == 3}}
                {{ for card in others_f }}
        <div>
            <button type="button" value="{{ card }}" class="btn-card">
                {{ card }}
            </button>
        </div>
                {{ endfor }}
    {{ endif }}

    {{else}}
        {{ for card in cards_uf }}
        <div>
            <button type="button" value="{{ card }}" class="btn-card">
                {{ card }}
            </button>
        </div>
        {{ endfor }}

        {{ if len_uf == 2}}
            {{ for card in others_uf }}
        <div>
            <button type="button" value="{{ card }}" class="btn-card" disabled>
                {{ card }}
            </button>
        </div>
            {{ endfor }}
         {{ elif len_uf == 3}}
            {{  for card in others_uf }}
        <div>
            <button type="button" value="{{ card }}" class="btn-card" disabled>
                {{ card }}
            </button>
        </div>
    {{ endfor }}
    {{ endif }}


    {{endif}}


</div>

<input type="hidden" name="card">
{{ formfield_errors 'card' }}

<div id="on-selection">
    <p>
        Your chosen card is <span id="card_selected"></span>
    </p>
    <p>
        <button class="btn btn-primary otree-btn-next">
            Submit
        </button>
    </p>



{{ endblock }}

{{ block scripts }}
<script>
    window.onload = () => {
        let buttons = document.querySelectorAll('.btn-card'),
            cardInput = document.querySelector('input[name="card"]'),
            onSelection = document.getElementById('on-selection'),
            cardSelected = document.getElementById('card_selected');

        buttons.forEach((btn) => {
            btn.addEventListener("click", (event) => {
                cardInput.value = event.target.value;
                cardSelected.innerText = event.target.value;
                onSelection.style.display = 'block';
            });
        });
    }

function selectCard(btn) {
        liveSend({'card': parseInt(btn.value)});
        for (let btn of buttons) {
            btn.disabled = 'disabled';
        }
    }
function selectBack(btn) {
        liveSend({'chosen_card': parseInt(btn.value)});
        for (let btn of buttons) {
            btn.disabled = 'disabled';
        }
    }
</script>
{{ endblock }}
